p{
    color: rgb(66, 4, 5); background-color: rgb(175, 175, 222);border: 2px solid rebeccapurple;
}
.yellow{
    color: yellow;
}
.bgkacol{
    background-color: black;
}
.nayabg{
    background-color: black;
    color: bisque;
}